MATRIX_HOMESERVER=
MATRIX_USERNAME=
MATRIX_PASSWORD=

# You can use a token instead of a password
# MATRIX_TOKEN=

# Name for bot's device
# MATRIX_DEVICE=reminder-bot-device

# Only for verify your device and recover backup. 
# See https://github.com/outarde/reminder-bot/blob/main/docs/matrix.md 
# or <recover> subcommand help page
# MATRIX_RECOVERY=your-recovery-key

# Language and other optional parameters are configured in the config.yml.
# See https://github.com/outarde/reminder-bot/blob/main/docs/configuration.md
